body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f4fb;
    display: flex;
    flex-direction: column;
}

#metrics-container {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    color: #00457e;
    display: flex; 
    gap: 16px;
    padding-top: 10px;
    height: 120px;
    width: 100%; 
    border-radius: 20px; 
}

#total-spent-container {
    display: flex;
    width: 100%;
    padding: 5px;
    background-color: #dcdee9;
    border-radius: 16px;
}

#budget-spent-container {
    width: 90%;
    display: flex;
    gap: 16px;
    padding: 2.5px 0 2.5px 0;
    border-radius: 16px;
}

#total-spent-container-header {
    width: 25%;
    padding: 10px;
}

#planned-budget-container {
    width: 27.5%;
    padding: 15px 10px 10px 15px;
    background-color: #ffbd01;
    border-radius: 16px;   
}

#planned-budget-container h3 {
    font-size: 20px;
    font-weight: 600;
    margin-top: 7.5px;
    margin-bottom: 15px;
}

#planned-budget-container p {
    margin-top: 10px;
    font-size: 24px;
    font-weight: 650;
}

#total-spent-container-header h3 {
    font-size: 20px;
    font-weight: 600;
    margin-top: 7.5px;
    margin-bottom: 15px;
}

#total-spent-container-header p {
    margin-top: 10px;
    font-size: 25px;
    font-weight: 650;
}

#state-budget-spent,
#local-budget-spent,
#partners-budget-spent {
    display: flex;
    flex-direction: column;
    padding: 10px;
    border-radius: 16px;
    background-color: white;
    width: 100%;
}

#state-budget-spent h3,
#state-budget-spent p,
#local-budget-spent h3,
#local-budget-spent p,
#partners-budget-spent h3,
#partners-budget-spent p {
    margin-left: 5px;
    margin-bottom: 0px;
}

#state-budget-spent h3,
#local-budget-spent h3,
#partners-budget-spent h3 {
    font-size: 20px;
    padding-top: 5px;
    margin-top: 0px;
    font-weight: 600;
}

#state-budget-spent p,
#local-budget-spent p,
#partners-budget-spent p {
    margin-top: 15px;
    font-weight: 600;
    font-size: 24px;
}

#main-content {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    width: calc(100% - 290px);
    gap: 20px;
}

.sidebar {
    width: 250px;
    padding: 13px;
    background-color: white;
    border-right: 1px solid #ddd; 
    position: fixed;
    top: 150px;
    right: 0;
    overflow-y: auto;
    max-height: calc(100vh - 50px); /* Adjust the height based on the metrics container height */
    border-radius: 20px;
}

#map-sidebar-container,
#treemap-sidebar-container,
#bar-charts-sidebar-container,
#tables-sidebar-container {
    display: flex;
    border-radius: 20px; /* Add border-radius */
    flex-direction: row;
    column-gap: 20px;
    background-color: white;
}

#map-container,
#treemap-container,
#line-chart-container,
#bar-payer,
#bar-reciept,
#tables-container {
    flex: 1;
    padding: 20px;
    border-radius: 20px; /* Add border-radius */
}

#map-container {
    height: 700px;
}

#treemap-container,
#line-chart-container,
#bar-payer,
#bar-reciept {
    height: 500px;
}

#programs-table,
#objects-table {
    width: 100%;
}

#objects-table {
    margin-top: 20px;
}

#tables-container {
    width: calc(100% - 40px); /* Adjust width for padding */
    padding: 0 20px;
    border-radius: 20px; /* Add border-radius */
}

.row {
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 8px;
    width: 100%;
}

label {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 14px;
    color: #00457e;
}

.sidebar h2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 20px;
}

.form-select {
    width: 100%;
    padding: 8px 12px;
    border-radius: 8px;
    border: 1px solid #dcdee9;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    background-color: #ffffff;
    transition: border-color 0.3s, box-shadow 0.3s;
    appearance: none;
    -webkit-appearance: none; /* For Safari */
    -moz-appearance: none; /* For Firefox */
}

.select2-container--default .select2-selection--single {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    border-radius: 6px;
    border: 1px solid #dcdee9;
    background-color: #ffffff;
}

.form-select:focus {
    border-color: #00457e;
    box-shadow: 0 0 5px rgba(0, 69, 126, 0.3);
    outline: none;
}

button[data-reset-target] {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 14px;
    color: #ffffff;
    background-color: #00457e;
    border: none;
    padding: 8px 12px;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s, box-shadow 0.3s;
}

button[data-reset-target]:hover {
    background-color: #003366;
    box-shadow: 0 0 5px rgba(0, 51, 102, 0.3);
}

button[data-reset-target]:focus {
    outline: none;
    box-shadow: 0 0 5px rgba(0, 69, 126, 0.3);
}

#reset-all-filters {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 14px;
    margin-top: 15px;
    width: 100%;
    color: #003366;
    background-color: #ffbd01;
    border: none;
    padding: 8px 12px;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s, box-shadow 0.3s;
}

#container {
    padding-top: 1.5rem;
}

#tables-container h3 {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 20px;
}

#programs-table, #objects-table {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    border-collapse: separate;
    border-spacing: 0;
    width: 100%;
    border-radius: 16px;
    overflow: hidden;
    border: 1px solid #dcdee9;
    margin-bottom: 20px;
}

#programs-table th, 
#programs-table td,
#objects-table th, 
#objects-table td {
    border: 1px solid #dcdee9;
    padding: 8px;
}

#programs-table thead th:first-child,
#objects-table thead th:first-child {
    border-top-left-radius: 10px;
    background-color: #f3f4fa;
}

#programs-table thead th:last-child,
#objects-table thead th:last-child {
    border-top-right-radius: 10px;
}

#programs-table tbody tr:last-child td:first-child,
#objects-table tbody tr:last-child td:first-child {
    border-bottom-left-radius: 10px;
}

#programs-table tbody tr:last-child td:last-child,
#objects-table tbody tr:last-child td:last-child {
    border-bottom-right-radius: 10px;
}

th[data-key="t-program"] {
    width: 60%;
}